////
/// @group plugin-specific
/// These are extended features provided by this library
////

/// This is a generic content block above all items with a list
/// - It also has an example
/// @example scss
///   .hello {
///     color: red;
///   }
/// 

/// In addition to the code block example this example will show the compiled result. Note the  {compile} modifier on the example. It also uses the compiler annotation to load the module for the compiled example. Content in the compiler annotation are prepended to the compiled code for the item or group if at file-level)
/// @compiler
///   @use "specific" as specific;
/// @example scss {compile} This example will be compiled
///   @include specific.print-color(red);

@mixin  print-color($value) {
  .test-compile {
    color: $value;
  }
}


/// Testing variable

$another-number: 3;

///
/// This is a generic content block
/// - between print-color and some-class (when not by type)
/// - between print-color and some-mixin (by type)
/// 

/// In addition to the html example this will also be previewed in an iframe. Note the {preview} modifier. Settings are available to add stylesheet and javascript to iframe. Iframe used for isolation from docs styles. 
/// @example html {preview} This example will be previewed
///   <span class="test">This is a test</span>

@mixin some-mixin($value) {}

/// Testing how map variables print

$map: (
  "hello" : "world"
);

/// Testing how single line variable print

$number: 3;